[Unit]
Description=OCS fetch ssh keys from metadata
After=NetworkManager-wait-online.service

[Service]
ExecStart=/usr/sbin/oc-fetch-ssh-keys
Type=oneshot

[Install]
WantedBy=multi-user.target
